name: License checker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-license:
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@v3.5.0
      - name: Check License Header
        uses: apache/skywalking-eyes@v0.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
