name: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: "ubuntu-18.04"

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install luacheck
        run: |
          sudo apt install -y luarocks
          sudo luarocks install luacheck > build.log 2>&1 || (cat build.log && exit 1)

      - name: Setup Nodejs env
        uses: actions/setup-node@v2.5.0
        with:
          node-version: '12'

      - name: Install eclint
        run: |
          sudo npm install -g eclint

      - name: Script
        run: |
          make lint
